
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: black;
  user-select: none;
}

.header {
  width: 100%; 
  padding-top: 1.25rem; 
  padding-bottom: 1.25rem; 
  padding-left: 1.25rem; 
  padding-right: 1.25rem;
  display: flex;
  justify-content: space-between; 
  align-items: center; 
}

.nav {
    gap: 1rem;
  display: flex;
  width: 100%; 
  justify-content: space-between;
  max-width: 100%; 
}
.screen-max-width{

    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width:  1120px;
}
canvas{
    touch-action: none;
}
.nav-items {
  display: flex;
  gap: 2rem; /* Spatiu între elementele de navigare */
  justify-content: center;
  padding: 5px;
  color: #e2e2e2;
  cursor: pointer;
  transition: all;
}
.nav-items :hover{
    color:white;
}
.nav-icons{
    display: flex;
    align-items: center;
    margin-right: 2rem;
    gap: 1rem;
    width: 30px;
    height: 30px;


}

/* Hide the element on screens smaller than 768px */
@media (max-width: 768px) {
  .hide-on-small .nav-items {
    display: none; 
    font-size: 1rem;
    cursor:pointer;
  }
  .hide-on-small .nav-icons{
    justify-content: flex-end;
    flex: 1;
  }
}
