
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: white;
  width: 100dvw;
  overflow-x: hidden;
  height: 100%;
  background: #000;
  border-color: #3b3b3b;
  user-select: none;
}
/* Stil pentru header */
.header {
  width: 100%; /* Echivalent cu w-full */
  padding-top: 1.25rem; /* py-5, 1.25rem = 20px */
  padding-bottom: 1.25rem; /* py-5, 1.25rem = 20px */
  padding-left: 1.25rem; /* px-5 */
  padding-right: 1.25rem; /* px-5 */
  display: flex;
  justify-content: space-between; /* flex:justify-between */
  align-items: center; /* items-center */
}

/* Stil pentru nav */
.nav {
    gap: 1rem;
  display: flex;
  width: 100%; /* w-full */
  justify-content: space-between;
  max-width: 100%; /* Efectiv, echivalent cu "screen-max-width", care ar putea fi o valoare definită în Tailwind, dar aici poți seta orice lățime dorită */
}
.screen-max-width{

    margin-inline-start: auto;
    margin-inline-end: auto;
    position: relative;
    max-width:  1120px;
}
canvas{
    touch-action: none;
}
.nav-items {
  display: flex;
  gap: 2rem; /* Spațiu între elementele de navigare */
  justify-content: center;
  padding: 5px;
  color: #e2e2e2;
  cursor: pointer;
  transition: all;
}
.nav-items :hover{
    color:white;
}
.nav-icons{
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 30px;
    height: 30px;


}

/* Hide the element on screens smaller than 768px */
@media (max-width: 768px) {
  .hide-on-small .nav-items {
    display: none; /* This will hide the element */
    font-size: 1rem;
    cursor:pointer;
  }
  .hide-on-small .nav-icons{
    justify-content: flex-end;
    flex: 1;
  }
}
